<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cari Makan</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <div class="header-inner">
                <h1 class="header-title">
                    Cari Makan
                </h1>
            </div>
        </header>
        
        <nav id="drawer" class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="/">Beranda</a></li>
                <li class="nav-item"><a href="#">Favorit</a></li>
                <li class="nav-item"><a href="https://github.com/rmalan" target="_blank">Tentang Kami</a></li>
            </ul>
        </nav>

        <div class="hero">
            <div class="hero-inner">
                <h1 class="hero-title">Laper Nih?</h1>
                <p class="hero-tagline">
                    Yuk cari tempat makan terdekat
                </p>
            </div>
        </div>

        <h1>Restaurant Apps Starter Project</h1>
        <p>Hallo coders! Anda berhasil menjalankan starter project.</p>
        <p>
            Jangan lupa untuk menggunakan salah satu gambar yang berada pada
            ./images/heros sebagai background hero elemen
        </p>
        <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
        <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
        <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
        <img src="./images/heros/hero-image_4.jpg" width="450" alt="" />
    </body>
</html>
