<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cari Makan</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header class="header">
            <div class="header-inner">
                <h1 class="header-title">
                    Cari Makan
                </h1>
            </div>
        </header>
        
        <nav id="drawer" class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="/">Beranda</a></li>
                <li class="nav-item"><a href="#">Favorit</a></li>
                <li class="nav-item"><a href="https://github.com/rmalan" target="_blank">Tentang Kami</a></li>
            </ul>
        </nav>

        <div class="hero">
            <div class="hero-inner">
                <h1 class="hero-title">Laper Nih?</h1>
                <p class="hero-tagline">
                    Yuk cari tempat makan terdekat
                </p>
            </div>
        </div>

        <main>
            <section class="content">
                <div class="explore">
                    <h1 class="explore-label">Makan di...</h1>
                    <div class="posts">
                        <article class="post-item">
                            <img class="post-item-thumbnail"
                                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41",
                                alt="Gambar dua orang wanita sedang memegang laptop">
                            <div class="post-item-content">
                                <p class="post-item-date">About 10 Hours Ago By <a href="#" class="post-item-date-author">Dicoding
                                    Intern</a>
                                </p>
                                <h1 class="post-item-title"><a href="#">Kenapa Harus Belajar Coding Dari Sekarang?</a></h1>
                                <p class="post-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                    explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                    minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                    doloremque impedit quod tempora tenetur totam vero.</p>
                            </div>
                        </article>
                        <article class="post-item">
                            <img class="post-item-thumbnail"
                                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41",
                                alt="Github logo">
                            <div class="post-item-content">
                                <p class="post-item-date">About 10 Hours Ago By <a href="#" class="post-item-date-author">Alfian
                                    Y Abdullah</a>
                                </p>
                                <h1 class="post-item-title"><a href="#">Apa itu Rate Limit pada Github API?</a></h1>
                                <p class="post-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                    explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                    minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                    doloremque impedit quod tempora tenetur totam vero.</p>
                            </div>
                        </article>
                        <article class="post-item">
                            <img class="post-item-thumbnail"
                                src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41",
                                alt="Seorang lelaki sendang memakai filter instagram">
                            <div class="post-item-content">
                                <p class="post-item-date">About 10 Hours Ago By <a href="#" class="post-item-date-author">Aditya
                                    Tri Nugroho</a>
                                </p>
                                <h1 class="post-item-title"><a href="#">2 Langkah Utama Membuat Filter Kece di Instagram</a>
                                </h1>
                                <p class="post-item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Aspernatur atque autem culpa laborum odio similique voluptas. A ab animi ducimus earum
                                    explicabo hic molestias repudiandae sunt. Consectetur consequuntur dolorum excepturi, fugit,
                                    minus nemo non quae quaerat quod recusandae reprehenderit totam, unde. Aliquid autem
                                    doloremque impedit quod tempora tenetur totam vero.</p>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>
